// Small Mobiles (Portrait view)
$screen-xs-min: 480px;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 600px;

// Small tablets (portrait view)
$screen-md-tab: 767px;

// Small tablets (portrait view)
$screen-md-min: 900px;

// tablets (landscape view)
$screen-md-max: 1024px;

// Between large Tablets and small desktops
$screen-lg-min: 1200px;

// large Tablets and small desktops
$screen-lg-max: 1440px;

// Large desktops
$screen-xl-min: 1920px;